<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/css/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="tp4.css"> -->
    <style>
        /* Include your CSS code here */
        body {
            margin: 0;
            padding: 0;
            background-image: url('/images/img/bg.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            overflow: hidden;
        }

        /* Rest of your CSS code... */
    </style>
</head>

<body>
    <!-- Test -->
    <div class="wrapper" id="testpopup">
        <header>
            <!-- <i class="bx bx-cookie"></i> -->
            <h2>Test</h2>
        </header>

        <div class="data">
            <label for="">Upload Images</label>
            <input type="file">
        </div>

        <div class="buttons">
            <button class="button" id="acceptBtn">Test</button>
            <button class="button" id="declineBtn">View</button>
        </div>
    </div>

    <div id="testoverlay" class="testoverlay"></div>

    <script src="script.js"></script>
</body>

</html>
